<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="welcome-card">

    <ion-item>
      <ion-button href="/oauth2/authorize/github?redirect_uri={{href}}">
        <ion-icon slot="start" name="logo-github"></ion-icon> Github
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button href="/oauth2/authorize/google?redirect_uri={{href}}">
        <ion-icon slot="start"name="logo-google"></ion-icon> Google
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>
